.comment-body {
    background-color: #fff;
}
.comment-body>.filter {
    border-top: 2px solid rgba(7,17,27,.1);
    box-sizing: border-box;
    background: #fff;
    height: .68rem;
    display: flex;
    align-items: center;    
    padding-left: .2rem;
    font-size: .12rem;
}
.comment-body>.filter>span {
    display: inline-block;
    width: .64rem;
    height: .32rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: .1rem;
}
.comment-body>.filter>span.cur {
    background-color: #00a0dc !important;
    color: #fff !important;
}
.comment-body>.filter>span {
    background-color: skyblue;
}
.comment-body>.filter>span:nth-child(3) {
    background-color: #ccc;
}
.comment-body>.filter02 {
    box-sizing: border-box;
    border-top: 1px solid rgba(7,17,27,.1);
    display: flex;
    align-items: center;
    height: .48rem;
    margin: 0 .2rem;    
    font-size: .12rem;
    color: #999;
    position: relative;
}
.comment-body>.filter02:after {
    height: 2px;
    content: '';
    background-color: rgba(7,17,27,.1);
    position: absolute;
    bottom: 0;
    left: -.2rem;
    width: 3.75rem;
}
.comment-body>.filter02>img {
    width: .2rem;
    margin-right: .1rem;
}
.comment-body>.card {
    margin: 0 .2rem;
    border-bottom: 2px solid rgba(7,17,27,.1);
    box-sizing: border-box;
    display: flex;
    position: relative;
}
.comment-body>.card>.left {
    margin-top: .3rem;
    margin-bottom: .2rem;
}
.comment-body>.card>.left>img {
    display: inline-block;
    width: .39rem;
    height: .39rem;
    border-radius: 50%;
}
.comment-body>.card>.right {
    padding-left: .21rem;
    margin-top: .2rem;      
    font-size: .12rem;
}
.comment-body>.card>.right>p {
    margin: .06rem 0;
    line-height: 1.8em;
}
.comment-body>.card>.right>h1 {
    margin-bottom: .07rem;
}
.comment-body>.card>.right>.stars>.star {
    width: .12rem;
    height: .12rem;
    margin-right: .03rem;
}
.comment-body>.card>.right>.labs {
    display: flex;
    margin-bottom: .07rem;
    flex-flow: row wrap;
    align-items: center;
}
.comment-body>.card>.right>.labs>.icon {
    border: 0 ;
    display: inline-block;
    width: .16rem;
    height: .16rem;
    background-image: url('../../assets/img/赞.png');
    background-size: 100% 100%;
    background-position: center center;
}
.comment-body>.card>.right>.labs>li {
    font-size: .12rem;
    display: inline-block;
    color: #999;
    border: 1px solid #999;
    height: .12rem;
    padding: .02rem;
    margin-left: .1rem;
    margin-bottom: .06rem;
}
.comment-body>.card>.time {
    position: absolute;
    top: .21rem;
    right: .06rem;
    font-size: .12rem;
    color: #999;
}